@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
}

:root {

    --site-bg-color: #f7e9c3;
    --site-dark-bg-color: rgb(55, 65, 81);

    /* main colors */
    --correct-color: rgb(40, 170, 10);
    --wrong-color: rgb(220, 0, 10);
    --primary-color: #71a3f5;

    /* score colors */
    --score-90-color: rgb(40, 170, 10);
    --score-80-color: rgb(60, 150, 10);
    --score-70-color: rgb(80, 130, 10);
    --score-60-color: rgb(100, 110, 10);
    --score-50-color: rgb(120, 90, 10);
    --score-40-color: rgb(140, 70, 10);
    --score-30-color: rgb(160, 50, 10);
    --score-20-color: rgb(180, 30, 10);
    --score-10-color: rgb(200, 10, 10);
    --score-0-color: rgb(220, 0, 10);
    --score-none-color: white;
}

body {
    background-color: var(--site-bg-color);
    min-height: 90dvh;
}

.dark {
    background-color: var(--site-dark-bg-color) !important;
}

.on-bottom {
    position: absolute;
    bottom: 4rem;
}

.correct-color {
    color: var(--correct-color);
}

.correct-color-bg {
    background-color: var(--correct-color);
}

.wrong-color {
    color: var(--wrong-color);
}

.wrong-color-bg {
    background-color: var(--wrong-color);
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.score-none-color {
    color: var(--score-none-color);
}

.score-none-bg {
    background-color: var(--score-none-color);
}

.score-90-bg {
    background-color: var(--score-90-color) !important;
}

.score-80-bg {
    background-color: var(--score-80-color) !important;
}

.score-70-bg {
    background-color: var(--score-70-color) !important;
}

.score-60-bg {
    background-color: var(--score-60-color) !important;
}

.score-50-bg {
    background-color: var(--score-50-color) !important;
}

.score-40-bg {
    background-color: var(--score-40-color) !important;
}

.score-30-bg {
    background-color: var(--score-30-color) !important;
}

.score-20-bg {
    background-color: var(--score-20-color) !important;
}

.score-10-bg {
    background-color: var(--score-10-color) !important;
}

.score-0-bg {
    background-color: var(--score-0-color) !important;
}

.score-90-text {
    color: var(--score-90-color);
}

.score-80-text {
    color: var(--score-80-color);
}

.score-70-text {
    color: var(--score-70-color);
}

.score-60-text {
    color: var(--score-60-color);
}

.score-50-text {
    color: var(--score-50-color);
}

.score-40-text {
    color: var(--score-40-color);
}

.score-30-text {
    color: var(--score-30-color);
}

.score-20-text {
    color: var(--score-20-color);
}

.score-10-text {
    color: var(--score-10-color);
}

.score-0-text {
    color: var(--score-0-color);
}